<%= form_with(model: admin_login, local: true) do |form| %>
  <% if admin_login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_login.errors.count, "error") %> prohibited this admin_login from being saved:</h2>

      <ul>
      <% admin_login.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :admin_id %>
    <%= form.text_field :admin_id %>
  </div>

  <div class="field">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address %>
  </div>

  <div class="field">
    <%= form.label :user_agent %>
    <%= form.text_field :user_agent %>
  </div>

  <div class="field">
    <%= form.label :device_id %>
    <%= form.text_field :device_id %>
  </div>

  <div class="field">
    <%= form.label :operation_type %>
    <%= form.text_field :operation_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
