
<!-- ############ PAGE START-->
<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Countries</h2>
      <small>List of all countries</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/> 
      <% if current_user and current_user.roleid == 1 %>
           <%= link_to 'New Country', new_country_path, {:class => 'btn btn-fw accent',:style => "margin-left:600px;"}%>
      <% end %>
    </div>
    <div>
    <% cache @countries do %>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
              <th>
              Full name
              </th>
              <th data-hide="phone">
              Active
              </th>
          </tr>
        </thead>
        <tbody>
        <% @countries.each do |country| %>
          <% cache country do %>
          <tr>
              <td><%= country.Full_Name %></td> 
              <% if country.active == 1  %>
                <td data-value="1"><span class="label success" title="Active">Active</span></td>
              <% else  %>
                <td data-value="2"><span class="label" title="Disabled">Disabled</span></td>
              <% end %>
              <td><%= link_to 'Show', country, :class => 'btn btn-sm info' %></td>   
              <% if current_user and current_user.roleid == 1 %>
                    <td><%= link_to 'Edit', edit_country_path(country), :class => 'btn btn-sm warning' %></td>       
                    <td><%= button_to 'Destroy', country, method: :delete, :class => 'btn btn-sm danger', :onclick => "return confirm('Are you sure?')" %></td>
              <% end %>           
          </tr>
          <% end %>
        <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
      <% end %>
    </div>
  </div>
</div>



<!-- ############ PAGE END-->